body{
    box-sizing: border-box;
    background: #08D6C0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
h1{
    text-align: center;
    color: #074E8D;
    font-weight: 900;
}
h5{
    font-weight: 500;
}
a{
    color: #074E8D; 
}
.navbar{
    background: #0DB6D5;
    border-bottom: 2px solid #2F8EA0;
}
li a:hover{
    border-radius: 12px;
    background: #074E8D;
    color: #0DB6D5;
}
.sect1{
    background: #45D0EA;
    margin-bottom: 0px;
}
.sect2{
    background: #0DB6D5;
    margin-bottom: 0px;
}
hr{
    margin: 0;
    height: 2px;
    background: #074E8D;
}
.image{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.card{
    background: #78B5EC;
    border-radius: 15px;
}
.jumbotron{
    padding: 32px;
}
p{
    font-weight: 300;
}